.app-header {
    .brand{
        position: fixed;
        z-index: 1;
        img {
            max-width: 100%;
        }
        &.choice {
            left: 10px;
            top: 10px;
            width: 175px;
        }
        &.act {
            right: 10px;
            top: 15px;
            width: 80px;
        }
    }
}

.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/assets/images/city.png') no-repeat bottom;
    background-size: 100%;
    .login-div {
        max-width: 350px;
        width: calc(100vw - 15%);
        position: relative;
        z-index: 1;
        .form-container{
            border-radius: 4px;
            padding: 10px 15px;
            background: #ffffff;
            width: 100%;
            box-shadow: 0px 10px 8px 10px rgb(91 91 91 / 15%);
            .head{
                font-size: 24px;
                font-weight: 500;
            }
            .form-actions{
                text-align: right;
            }
        }
    }
    .login-images {
        position: fixed;
        z-index: 0;
        &.header{
            top: 0;
            right: 0;
            width: 75%;
        }
        &.footer{
            left: 0;
            bottom: 0;
            display: none;
        }
    }
}

.info-field {
    position: fixed;
    padding: 5px 10px;
    left: 0;
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    font-size: 12px;
    justify-content: space-between;
    font-weight: 500;
    width: 100%;
    .poweredBy {
        display: flex;
        align-items: center;
        img {
            max-width: 75px;
        }
    }
}

@media(min-width: 768px){
    .login-container{
        .login-images{
            &.header{
                max-width: 450px;
            }
            &.footer{
                display: inline;
                width: 525px;
            }
        }
    }
    .info-field{
        width: auto;
        right: 0;
        left: unset;
        flex-flow: column;
    }
    .app-header {
        .brand{
            &.choice {
                width: 235px;
            }
            &.act {
                width: 135px;
            }
        }
    }
}