.navbar {
    padding: 7px 10px;
    justify-content: unset;
    border-bottom: 1px solid #c9c9c9;
    .navbar-brand{
        img{
            max-width: 180px;
        }
    }
    .navbar-nav{
        flex-flow: row wrap;
        align-items: center;
    }
}